<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Starter Template for Bootstrap</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container">

 <div id="app">
    <select class="pull-left" v-model="filter" v-on:change="filterTodos()">
      <option value="pending">Pending</option>
      <option value="done">Done</option>
      <option value="all">All</option>
    </select>
    <p class="pull-right">{{ done }} / {{ total }}</p>
    <div class="form-group">
      <input class="form-control" placeholder="Enter new todo" v-model="newTodo" v-on:keyup.enter="addNew()">
    </div>
    <ul id="todos" class="list-group">
      <li class="list-group-item" v-if="empty">No todo item.</li>
      <li class="list-group-item" v-bind:class="{'list-group-item-success': todo.done }" v-for="todo in filteredTodos">
      {{ todo.text }}
      <span class="pull-right glyphicon" v-bind:class="{'glyphicon-ok': !todo.done, 'glyphicon-check': todo.done}" v-on:click="markAsDone(todo)"></span>
      </a>
      </li>
    </ul>
  </div>

</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>